@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">);


body{
    background-color: rgb(81, 123, 238);
   


}
h1{
color: rgb(22, 21, 21);
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

ul{
    list-style-type: none;
    background-color: aqua;
    margin: 0;
    overflow: hidden;

}
li a{
    display:block;
    color: rgb(19, 17, 15);
    text-decoration: none;
    padding: 14px 16px;
    font-family:"molle",cursive;
    font-weight: 400;
    font-style: italic;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;
    


}


